<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="header-bar">
  <div class="header-inner">
    <ul class="father">
      <li><a>{$city.name}</a></li>
      <li>|</li>
      <li class="city">
        <a>切换城市<span class="arrow-down-logo"></span></a>
        <div class="city-drop-down">
          <h3>热门城市</h3>
          <ul class="son">
            {volist name="citys" id="vo"}
            <li><a href="{:url('index/index', ['city'=>$vo['uname']])}">{$vo.name}</a></li>
            {/volist}
          </ul>
        </div>
      </li>
      <li><a href="{:url('bis/login/index')}">商户中心</a></li>
      {if condition="$user"}
      <li><a href="{:url('user/logout')}">退出</a></li>
      <li>{$user->username}</li>
      {else /}
      <li><a href="{:url('user/register')}">注册</a></li>
      <li>|</li>
      <li><a href="{:url('user/login')}">登录</a></li>
      {/if}
    </ul>
  </div>
</div>